html
	head
		title Registration
		script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
		script(src="/validate.js")
	body
		table
			tr
				td Name:
				td input.form-control(type="text" name="txtName" id="txtName")
			tr
				td Age:
				td input.form-control(type="text" name="txtAge" id="txtAge")
			tr
				td Email:
				td input.form-control(type="text" name="txtEmail" id="txtEmail")
			tr
				td
				td button(type="button" id="btnSub")Submit
